<!-- 
	Heey! Nice to see you here.
	If you are reading this, it means that you are curious.
	Look at how it was my first time touching HTML and CSS on:
	catalin-trandafir.com/first-web/index
	If you know Catalan, important video at the end of the index page!! 😄
-->
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Catalin</title>
		<link rel="icon" href="img/logo.svg" type="image" />

		<!-- Base styles should load first -->
		<link rel="stylesheet" href="css/base.css" />

		<!-- Layout system next -->
		<link rel="stylesheet" href="css/layout.css" />

		<!-- Header needs to load early as it's a critical component -->
		<link rel="stylesheet" href="css/header.css" />

		<!-- Component/section specific styles -->
		<link rel="stylesheet" href="css/sections/intro.css" />
		<link rel="stylesheet" href="css/sections/about.css" />
		<link rel="stylesheet" href="css/sections/technologies.css" />
		<link rel="stylesheet" href="css/sections/projects.css" />
		<link rel="stylesheet" href="css/sections/contact.css" />

		<link rel="stylesheet" type="text/css" href="css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="css/scrollbar.css" />

		<!--reCaptcha-->
		<script src="https://www.google.com/recaptcha/api.js?render=<%= process.env.RECAPTCHA_SITE_KEY %>"></script>

		<script type="importmap">
			{
				"imports": {
					"three": "/lib/three/build/three.module.js",
					"three/addons/": "/lib/three/examples/jsm/"
				}
			}
		</script>
		<!--importing floating-ui/dom-->
		<script src="/js/floating-ui/floating-ui.core.umd.min.js"></script>
		<script src="/js/floating-ui/floating-ui.dom.umd.min.js"></script>
	</head>
	<body>
		<canvas id="bg"></canvas>
		<main>
			<header id="header-menu">
				<a href="#intro" id="logo">
					<img src="/img/logo.svg" alt="Logo" />
				</a>
				<nav>
					<ul class="menu">
						<li class="menu-option">
							<a href="#about-me">About me</a>
						</li>
						<li class="menu-option">
							<a href="#projects">Projects</a>
						</li>
						<li class="menu-option">
							<a href="#contact">Contact</a>
						</li>
						<li class="nav-menu">
							<svg
								id="dropdown-menu-icon"
								xmlns="http://www.w3.org/2000/svg"
								height="24"
								viewBox="0 -960 960 960"
								width="24"
								fill="#C2D9FF"
							>
								<path
									d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
								/>
							</svg>
						</li>
					</ul>
				</nav>
			</header>
			<div id="dropdown-menu">
				<nav>
					<ul class="dropdown-menu">
						<a href="#about-me">
							<li class="dropdown-menu-option">
								<p>About me</p>
							</li>
						</a>
						<a href="#projects">
							<li class="dropdown-menu-option">
								<p>Projects</p>
							</li>
						</a>
						<a href="#contact">
							<li class="dropdown-menu-option">
								<p>Contact</p>
							</li>
						</a>
					</ul>
				</nav>
			</div>
			<%- include('sections/intro') %> <%- include('sections/about') %>
			<%- include('sections/projects') %> <%- include('sections/contact')
			%>
			<footer>
				<p>Made by <b class="highlight">Catalin Trandafir</b></p>
			</footer>
		</main>
		<!-- load the RECAPTCHA_SITE_KEY -->
		<script>
			const RECAPTCHA_SITE_KEY = "<%= process.env.RECAPTCHA_SITE_KEY %>";
		</script>
		<script type="module" charset="utf8" src="/js/index.js"></script>
		<script
			type="module"
			charset="utf8"
			src="/js/index-tooltip.js"
		></script>
	</body>
</html>
