<!-- 
	Heey! Nice to see you here.
	If you are reading this, it means that you are curious.
	Look at how it was my first time touching HTML and CSS on:
	catalin-trandafir.com/first-web/index
	If you know Catalan, important video at the end of the index page!! 😄
-->
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Catalin</title>
		<link rel="icon" href="/img/logo.svg" type="image" />

		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/scrollbar.css" />

		<!--reCaptcha-->
		<script src="https://www.google.com/recaptcha/api.js?render=<%= process.env.RECAPTCHA_SITE_KEY %>"></script>

		<script type="importmap">
			{
				"imports": {
					"three": "/lib/three/build/three.module.js",
					"three/addons/": "/lib/three/examples/jsm/"
				}
			}
		</script>
		<!--importing floating-ui/dom-->
		<script src="/js/floating-ui/floating-ui.core.umd.min.js"></script>
		<script src="/js/floating-ui/floating-ui.dom.umd.min.js"></script>
	</head>
	<body>
		<canvas id="bg"></canvas>
		<main>
			<header id="header-menu">
				<a href="#intro" id="logo">
					<img src="/img/logo.svg" alt="Logo" />
				</a>
				<nav>
					<ul class="menu">
						<li class="menu-option">
							<a href="#about-me">About me</a>
						</li>
						<li class="menu-option">
							<a href="#projects">Projects</a>
						</li>
						<li class="menu-option">
							<a href="#contact">Contact</a>
						</li>
						<li class="nav-menu">
							<svg
								id="dropdown-menu-icon"
								xmlns="http://www.w3.org/2000/svg"
								height="24"
								viewBox="0 -960 960 960"
								width="24"
								fill="#C2D9FF"
							>
								<path
									d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
								/>
							</svg>
						</li>
					</ul>
				</nav>
			</header>
			<div id="dropdown-menu">
				<nav>
					<ul class="dropdown-menu">
						<a href="#about-me">
							<li class="dropdown-menu-option">
								<p>About me</p>
							</li>
						</a>
						<a href="#projects">
							<li class="dropdown-menu-option">
								<p>Projects</p>
							</li>
						</a>
						<a href="#contact">
							<li class="dropdown-menu-option">
								<p>Contact</p>
							</li>
						</a>
					</ul>
				</nav>
			</div>
			<section id="intro">
				<div class="row-1">
					<img id="big-logo" src="/img/logo.svg" alt="Logo" />

					<h1 id="name" class="highlight">Catalin Trandafir</h1>
				</div>
				<div class="row-2" id="intro-menu">
					<nav>
						<ul class="menu">
							<li><a href="#about-me">About me</a></li>
							<li><a href="#projects">Projects</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="row-3">
					<a href="#about-me">
						<img id="expand" src="/img/expand.svg" alt="Expand" />
					</a>
				</div>
			</section>

			<section id="about-me">
				<div class="row-1">
					<h2>Hello! I'm <b class="highlight">Cata</b></h2>
					<p>
						Working as a
						<b class="highlight">Full-Stack developer</b> in
						<a href="https://www.pue.es/">PUE.</a>
					</p>
				</div>
				<div class="row-2">
					<canvas id="line"></canvas>
					<div class="timeline">
						<% workData.forEach((work, index, array) => { %>
						<div class="container <%= work.position %>">
							<dot id="dot-<%= (index + 1) %>"></dot>
							<div class="content">
								<h2 class="highlight">
									<a href="<%= work.company_url %>">
										<%= work.company_name %>
									</a>
								</h2>
								<p><%= work.work_description %></p>
								<% for (let i = 0; i < work.technologies.length
								&& i < 4; i++) { %> <% let tech =
								work.technologies[i]; %>
								<div class="techs techs-icon-box">
									<%= tech.name %>
									<img
										class="tech-svg"
										src="/img/tech/<%= tech.name %>.svg"
										alt="<%= tech.name %>"
									/>
								</div>
								<% } %> <% if (work.technologies.length > 4) {
								%>
								<div class="techs more-techs am-mt-<%=index%>">
									<%= work.technologies.length - 4 %> more...
									<div
										class="more-techs-tooltip am-mt-<%=index%>"
									>
										<% for (let j = 4; j <
										work.technologies.length; j++) { %> <%
										let tech = work.technologies[j]; %>

										<div class="techs techs-icon-box">
											<%= tech.name %>
											<img
												class="tech-svg"
												src="/img/tech/<%= tech.name %>.svg"
												alt="<%= tech.name %>"
											/>
										</div>
										<% } %>
									</div>
								</div>
								<% } %>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
				<div class="row-3"></div>
			</section>
			<section id="projects">
				<div class="row-1">
					<h2 class="highlight">Projects</h2>
				</div>
				<div class="row-2">
					<div id="all-projects">
						<% projectData.forEach((project, index, array) => { %>
						<div class="project-card">
							<img
								class="project-image"
								src="<%= project.image %>"
								alt="Project Image"
							/>
							<div class="project-title">
								<h2><%= project.title %></h2>
								<a
									href="<%= project.github %>"
									class="project-github"
								>
									<svg
										class="project-github-svg"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 128 128"
									>
										<g fill="#C2D9FF">
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z"
											/>
											<path
												d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm2.446 2.729c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zM31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm3.261 3.361c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm4.5 1.951c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm4.943.361c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm4.598-.782c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0"
											/>
										</g>
									</svg>
								</a>
							</div>
							<p><%= project.description %></p>
							<% for (let i = 0; i < project.technologies.length
							&& i < 4; i++) { %> <% tech =
							project.technologies[i] %>
							<div class="techs techs-icon-box">
								<%= tech.name %>
								<img
									class="tech-svg"
									src="/img/tech/<%= tech.name %>.svg"
									alt="<%= tech.name %>"
								/>
							</div>
							<% } %> <% if (project.technologies.length > 4) {%>
							<div class="techs more-techs pr-mt-<%=index%>">
								<%= project.technologies.length - 4 %> more...
								<div
									class="more-techs-tooltip pr-mt-<%=index%>"
								>
									<% for (let j = 4; j <
									project.technologies.length; j++) { %> <%
									tech = project.technologies[j] %>

									<div class="techs techs-icon-box">
										<%= tech.name %>
										<img
											class="tech-svg"
											src="/img/tech/<%= tech.name %>.svg"
											alt="<%= tech.name %>"
										/>
									</div>
									<% } %>
								</div>
							</div>
							<% } %>
						</div>
						<% }); %>
					</div>
				</div>
				<div class="row-3"></div>
			</section>

			<section id="contact">
				<div class="row-1">
					<h2 class="highlight">Contact</h2>
				</div>
				<div class="row-2">
					<form id="contact-form">
						<div id="form-group-name" class="form-group">
							<label for="form-name">Name:</label>
							<input
								type="text"
								id="form-name"
								name="name"
								required
							/>
						</div>
						<div id="form-group-email" class="form-group">
							<label for="form-email">Email:</label>
							<input
								type="email"
								id="form-email"
								name="email"
								required
							/>
						</div>
						<div id="form-group-message" class="form-group">
							<label for="form-message">Message:</label>
							<textarea
								id="form-message"
								name="message"
								required
							></textarea>
						</div>
						<div id="recaptcha-branding">
							<!-- Recaptcha branding -->
							<p>
								This site is
								<b class="highlight">protected by reCAPTCHA</b>
								and the Google
								<a href="https://policies.google.com/privacy"
									>Privacy Policy</a
								>
								and
								<a href="https://policies.google.com/terms"
									>Terms of Service</a
								>
								apply.
							</p>
						</div>
						<button id="submit-form" type="submit">Send</button>
					</form>
				</div>
			</section>
			<footer>
				<p>Made by <b class="highlight">Catalin Trandafir</b></p>
			</footer>
		</main>
		<!-- load the RECAPTCHA_SITE_KEY -->
		<script>
			const RECAPTCHA_SITE_KEY = "<%= process.env.RECAPTCHA_SITE_KEY %>";
		</script>
		<script type="module" charset="utf8" src="/js/index.js"></script>
		<script
			type="module"
			charset="utf8"
			src="/js/index-tooltip.js"
		></script>
	</body>
</html>
