<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Catalin</title>
		<link rel="icon" href="/img/logo.svg" type="image" />
		<!--GIFS NOT WORKING ON ALL BROWSERS-->
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />

		<!--reCaptcha-->
		<script src="https://www.google.com/recaptcha/api.js?render=<%= process.env.RECAPTCHA_SITE_KEY %>"></script>

		<!--IMPORT MAP-->
		<!-- Remove this when import maps will be widely supported -->
		<!--script
        async
        src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js">
    	</script-->
		<script type="importmap">
			{
				"imports": {
					"three": "/lib/three/build/three.module.js",
					"three/addons/": "/lib/three/examples/jsm/"
				}
			}
		</script>
		<!--importing floating-ui/dom-->
		<script src="/js/floating-ui/floating-ui.core.umd.min.js"></script>
		<script src="/js/floating-ui/floating-ui.dom.umd.min.js"></script>
	</head>
	<body>
		<canvas id="bg"></canvas>
		<main>
			<header id="header-menu">
				<a href="#intro" id="logo">
					<img src="/img/logo.svg" alt="Logo" />
				</a>
				<nav>
					<ul class="menu">
						<li class="menu-option">
							<a href="#about-me">About me</a>
						</li>
						<li class="menu-option">
							<a href="#projects">Projects</a>
						</li>
						<li class="menu-option">
							<a href="#contact">Contact</a>
						</li>
						<li class="nav-menu">
							<!--img
							id="img-menu"
							src="/img/menu-white.svg"
							alt="Menu"
						/-->
							<svg
								id="dropdown-menu-icon"
								xmlns="http://www.w3.org/2000/svg"
								height="24"
								viewBox="0 -960 960 960"
								width="24"
								fill="#C2D9FF"
							>
								<path
									d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
								/>
							</svg>
						</li>
					</ul>
				</nav>
			</header>
			<div id="dropdown-menu">
				<nav>
					<ul class="dropdown-menu">
						<a href="#about-me">
							<li class="dropdown-menu-option">
								<p>About me</p>
							</li>
						</a>
						<a href="#projects">
							<li class="dropdown-menu-option">
								<p>Projects</p>
							</li>
						</a>
						<a href="#contact">
							<li class="dropdown-menu-option">
								<p>Contact</p>
							</li>
						</a>
					</ul>
				</nav>
			</div>
			<section id="intro">
				<div class="row-1">
					<img id="big-logo" src="/img/logo.svg" alt="Logo" />

					<h1 id="name" class="highlight">Catalin Trandafir</h1>
				</div>
				<div class="row-2" id="intro-menu">
					<nav>
						<ul class="menu">
							<li><a href="#about-me">About me</a></li>
							<li><a href="#projects">Projects</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="row-3">
					<a href="#about-me">
						<img id="expand" src="/img/expand.svg" alt="Expand" />
					</a>
				</div>
			</section>

			<section id="about-me">
				<canvas id="line"></canvas>

				<div class="row-1">
					<h2>Hello! I'm <b class="highlight">Cata</b></h2>
					<p>
						Working as a
						<b class="highlight">Full-Stack developer</b> in
						<a href="https://www.pue.es/">PUE.</a>
					</p>
				</div>
				<div class="row-2">
					<div class="timeline">
						<% workData.forEach((work, index, array) => { %>
						<div class="container <%= work.position %>">
							<dot id="dot-<%= (index + 1) %>"></dot>
							<div class="content">
								<h2 class="highlight">
									<a href="<%= work.company_url %>">
										<%= work.company_name %>
									</a>
								</h2>
								<p><%= work.work_description %></p>
								<% for (let i = 0; i < work.technologies.length
								&& i < 4; i++) { %> <% tech =
								work.technologies[i] %>
								<div class="techs techs-icon-box">
									<%= tech.name %>
									<img
										class="tech-svg"
										src="/img/tech/<%= tech.name %>.svg"
										alt="<%= tech.name %>"
									/>
								</div>
								<% } %> <% if (work.technologies.length > 4) {
								%>
								<div class="techs more-techs am-mt-<%=index%>">
									<%= work.technologies.length - 4 %> more...
									<div
										class="more-techs-tooltip am-mt-<%=index%>"
									>
										<% for (let j = 4; j <
										work.technologies.length; j++) { %> <%
										tech = work.technologies[j] %>

										<div class="techs techs-icon-box">
											<%= tech.name %>
											<img
												class="tech-svg"
												src="/img/tech/<%= tech.name %>.svg"
												alt="<%= tech.name %>"
											/>
										</div>
										<% } %>
									</div>
								</div>
								<% } %>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
				<div class="row-3"></div>
			</section>
			<section id="projects">
				<div class="row-1">
					<h2 class="highlight">Projects</h2>
				</div>
				<div class="row-2">
					<div id="all-projects">
						<% projectData.forEach((project, index, array) => { %>
						<div class="project-card">
							<img
								class="project-image"
								src="<%= project.image %>"
								alt="Project Image"
							/>
							<a href="<%= project.github %>"
								><h2><%= project.title %></h2>
								<img
									class="project-github-svg"
									src="/img/tech/github.svg"
									alt="Github"
								/>
							</a>
							<p><%= project.description %></p>
							<% for (let i = 0; i < project.technologies.length
							&& i < 4; i++) { %> <% tech =
							project.technologies[i] %>
							<div class="techs techs-icon-box">
								<%= tech.name %>
								<img
									class="tech-svg"
									src="/img/tech/<%= tech.name %>.svg"
									alt="<%= tech.name %>"
								/>
							</div>
							<% } %> <% if (project.technologies.length > 4) {%>
							<div class="techs more-techs pr-mt-<%=index%>">
								<%= project.technologies.length - 4 %> more...
								<div
									class="more-techs-tooltip pr-mt-<%=index%>"
								>
									<% for (let j = 4; j <
									project.technologies.length; j++) { %> <%
									tech = project.technologies[j] %>

									<div class="techs techs-icon-box">
										<%= tech.name %>
										<img
											class="tech-svg"
											src="/img/tech/<%= tech.name %>.svg"
											alt="<%= tech.name %>"
										/>
									</div>
									<% } %>
								</div>
							</div>
							<% } %>
						</div>
						<% }); %>
					</div>
				</div>
				<div class="row-3"></div>
			</section>

			<section id="contact">
				<div class="row-1">
					<h2 class="highlight">Contact</h2>
				</div>
				<div class="row-2">
					<form id="contact-form">
						<div id="form-group-name" class="form-group">
							<label for="form-name">Name:</label>
							<input
								type="text"
								id="form-name"
								name="name"
								required
							/>
						</div>
						<div id="form-group-email" class="form-group">
							<label for="form-email">Email:</label>
							<input
								type="email"
								id="form-email"
								name="email"
								required
							/>
						</div>
						<div id="form-group-message" class="form-group">
							<label for="form-message">Message:</label>
							<textarea
								id="form-message"
								name="message"
								required
							></textarea>
						</div>
						<div id="recaptcha-branding">
							<!-- Recaptcha branding -->
							<p>
								This site is
								<b class="highlight">protected by reCAPTCHA</b>
								and the Google
								<a href="https://policies.google.com/privacy"
									>Privacy Policy</a
								>
								and
								<a href="https://policies.google.com/terms"
									>Terms of Service</a
								>
								apply.
							</p>
						</div>
						<button id="submit-form" type="submit">Send</button>
					</form>
				</div>
			</section>
			<footer>
				<p>Made by <b class="highlight">Catalin Trandafir</b></p>
			</footer>
		</main>
		<!-- load the RECAPTCHA_SITE_KEY -->
		<script>
			const RECAPTCHA_SITE_KEY = "<%= process.env.RECAPTCHA_SITE_KEY %>";
		</script>
		<script type="module" charset="utf8" src="/js/index.js"></script>
		<script
			type="module"
			charset="utf8"
			src="/js/index-tooltip.js"
		></script>
	</body>
</html>
