<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Catalin</title>
		<link rel="icon" href="/img/logo.svg" type="image" />
		<!--GIFS NOT WORKING ON ALL BROWSERS-->
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<!--IMPORT MAP-->
		<!-- Remove this when import maps will be widely supported -->
		<!--script
        async
        src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js">
    </script-->
		<script type="importmap">
			{
				"imports": {
					"three": "/lib/three/build/three.module.js",
					"three/addons/": "/lib/three/examples/jsm/"
				}
			}
		</script>
		<!--importing floating-ui/dom-->
		<!--script src="../lib/floating-ui/core/dist/floating-ui.core.umd.min.js"></script-->

		<!--script- src="../lib/floating-ui/dom/dist/floating-ui.dom.umd.min.js"></script-->
	</head>
	<body>
		<canvas id="bg"></canvas>
		<button id="button" aria-describedby="tooltip">
			button
		</button>
		<div id="tooltip" role="tooltip" style="background: #222;
        color: white;
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        font-size: 90%;">
			<p>Tooltip</p>
		</div>
		<main>
			<header id="header-menu">
				<a href="#intro" id="logo">
					<img src="/img/logo.svg" alt="Logo" />
				</a>

				<nav>
					<ul class="menu">
						<li class="menu-option">
							<a href="#about-me">About me</a>
						</li>
						<li class="menu-option">
							<a href="#projects">Projects</a>
						</li>
						<li class="menu-option">
							<a href="#contact">Contact</a>
						</li>
						<li class="nav-menu">
							<img id="img-menu" src="/img/menu.svg" alt="Menu" />
						</li>
					</ul>
				</nav>
			</header>
			<section id="intro">
				<div class="row-1">
					<img id="big-logo" src="/img/logo.svg" alt="Logo" />

					<h1 id="name" class="highlight">Catalin Trandafir</h1>
				</div>
				<div class="row-2" id="intro-menu">
					<nav>
						<ul class="menu">
							<li><a href="#about-me">About me</a></li>
							<li><a href="#projects">Projects</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="row-3">
					<a href="#about-me">
						<img id="expand" src="/img/expand.svg" alt="Expand" />
					</a>
				</div>
			</section>

			<section id="about-me">
				<canvas id="line"></canvas>

				<div class="row-1">
					<h2>Hello! I'm <b class="highlight">Cata</b></h2>
					<p>
						Working as a
						<b class="highlight">Full-Stack developer</b> in
						<a href="https://www.pue.es/">PUE.</a>
					</p>
				</div>
				<div class="row-2">
					<div class="timeline">
						<% workData.forEach((work, index, array) => { %>
						<div class="container <%= work.position %>">
							<dot id="dot-<%= (index + 1) %>"></dot>
							<div class="content">
								<h2 class="highlight">
									<a href="<%= work.company_url %>">
										<%= work.company_name %>
									</a>
								</h2>
								<p><%= work.work_description %></p>
								<% for (let i = 0; i < work.technologies.length && i < 4; i++) { %>
								<% tech = work.technologies[i] %>
								<div class="techs-icon-box">
									<%= tech.name %>
									<img
										class="tech-svg"
										src="/img/tech/<%= tech.name %>.svg"
										alt="<%= tech.name %>"
									/>
								</div>
								<% } %>
								<div>
									<% if (work.technologies.length > 4) { %>
									<div class="more-techs">
										<%= work.technologies.length - 4 %> more...
										<div class="more-techs-tooltip">
											<% for (let i = 4; i < work.technologies.length; i++) { %>
											<% tech = work.technologies[i] %>
											<div class="techs-icon-box">
												<%= tech.name %>
												<img
													class="tech-svg"
													src="/img/tech/<%= tech.name %>.svg"
													alt="<%= tech.name %>"
												/>
											</div>
											<% } %>
										</div>
									</div>
									<% } %>
								</div>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
				<div class="row-3"></div>
			</section>
			<!--section id="projects">
				<div class="row-1">
					<h2>Projects</h2>
				</div>
				<div class="row-2">
					<p>Here are some of my projects</p>
				</div>
			</section>
			<section id="contact">
				<div class="row-1">
					<h2>Contact</h2>
				</div>
				<div class="row-2">
					<p>Here are some ways to contact me</p>
				</div>
			</section-->
		</main>
		<!--footer>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit.
				Aliquam sint recusandae eveniet id et delectus, explicabo nam
				eum dolorum iste doloribus perferendis architecto reiciendis hic
				ex unde ducimus deleniti ullam! Lorem ipsum dolor sit amet
				consectetur adipisicing elit. Quia, quis. Tempore nobis, a cum
				consequatur quis expedita similique sequi asperiores, possimus
				fuga debitis ratione voluptate aperiam! Minima, delectus?
				Reprehenderit, veritatis. Lorem ipsum dolor sit amet
				consectetur, adipisicing elit. Fuga maxime illum natus quaerat
				atque corrupti assumenda possimus, quia animi iure modi enim
				praesentium architecto. Earum aut maiores eos velit dolor? Lorem
				ipsum dolor sit amet cons
			</p>
		</footer-->

		<script type="module" charset="utf8" src="/js/index.js"></script>
	</body>
</html>
